/* Author: Georg Begerow gbegerow@gmail.com */

/* TODO: Color Swatch */

:root {
    --font-color: black;
    --background: white;
    --accent-color: maroon;
    --demo-back: aqua;
}

/* basic elements */
.dark {
    --font-color: #f8f8f2;
    --background: #272822;
    --accent-color: lime;
    --demo-back: aqua;
}

html {
    height: auto;
    font-size: 100%;
}

body {
    font: 10pt/18pt 'Spectral SC', Georgia, 'Times New Roman', Times, serif;
    color: black;
    background: white;
    color: var(--font-color);
    background: var(--background);
    /* margin: 0px;  */
    text-align: left;
    height: auto;
    /* Maybe use a wraper for the layout? Fallback mit float? */
    /* display: grid;
    grid-gap: 1em; */
    /* grid-template-columns: minmax(200px,3fr) 1fr; */
    /*grid-template-areas: "head" "nav" "main" "foot"; */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1,
h2 {
    font-weight: 600;
}

h2 {
    font-variant: small-caps;
}

section {
    display: none;
    /* hide slide by default */
    padding: 1em;

}

p {
    font: 11px / 15px 'Montserrat', tahoma, arial, sans-serif;
    margin: 0px;
}

a:link {
    text-decoration: none;
    color: #465D91;
}

a:visited {
    text-decoration: line-through;
    color: #465D91;
}


a:hover,
a:active {
    text-decoration: underline;
}

.source {
    font: italic;
    text-align: right;
    font-size: 200%;
    flex: 1;
}

.demo {
    width: 100%;
    background-color: var(--demo-back);
    border: solid 1px var(--accent-color);
}

/* 
#slide__definition {
    display: flex;
    flex-direction: row;
} */

#slide__definition dl {
    flex: 1;
    margin: auto;
    font: 200%/120% 'Montserrat', tahoma, arial, sans-serif;
}

#slide__definition dt {
    font-size: 500%;
    line-height: 120%;
    font-weight: bold;
}